.button{
  padding: 10px 20px;
  border: 1px solid rgba(239, 124, 0, 1);
  font-family: Montserrat;
font-size: 15px;
font-weight: 400;
line-height: 20px;
text-align: center;
background-color: transparent;
color: rgba(239, 124, 0, 1);
cursor: pointer;
transition: 0.6s linear all;
&:hover{
  background-color: rgba(239, 124, 0, 1);
  color: #fff;
}
}
