.backtop{
    position: fixed;
    bottom: 20px;
    right: 100px;
    padding: 18px ;
    z-index: 100;
    background-color: rgba(239, 124, 0, 1);
    border-radius: 50%;
    box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
    img{
      transform: scale(3);
    }
}
@media screen and (max-width:1300px){
  .backtop{
    right: 20px;
    padding: 15px;
    img{
      transform: scale(2);
    }
  }
}
@media screen and (max-width:1000px){
  .backtop{
    right: 10px;
    padding: 10px;
    img{
      transform: scale(1.5);
    }
  }
}
@media screen and (max-width:800px){
  .backtop{
    right: 10px;
    padding: 5px;
    img{
      transform: scale(1.3);
    }
  }
}